
.container{
    display: flex;flex-direction: column;background-color: grey;align-content: center;align-items: center;column-gap: 90px;margin-top: auto;margin-bottom: auto;height:500px;}
    
    input{border-width: 3px;  width:200px; height: 30px;  background-color:  gray;border-color: white;color: white;margin-top: auto;margin-bottom: auto;border-radius: 8px;}
    
    input:hover{border-color: rgb(20, 113, 149);}
    
    button{color:white;  font-size: large; padding: 5px;margin: 5px;width:100px;background-color: rgb(24, 130, 172);border-radius: 10px;}
    ::-webkit-input-placeholder{color: white;}
    

.container{
    display: flex;flex-direction: column;background-color: grey;align-content: center;align-items: center;column-gap: 90px;margin-top: auto;margin-bottom: auto;height:500px;}
    
    input{border-width: 3px;  width:200px; height: 30px;  background-color:  gray;border-color: white;color: white;margin-top: auto;margin-bottom: auto;border-radius: 8px;}
    
    input:hover{border-color: rgb(20, 113, 149);}
    
    button{color:white;  font-size: large; padding: 5px;margin: 5px;width:100px;background-color: rgb(24, 130, 172);border-radius: 10px;}
    ::-webkit-input-placeholder{color: white;}
    

    #display{font-size: larger;font-style: oblique;text-align: center;color:white;}